* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    color: white;
}

.personal-card {
    background-color: hsl(0, 0%, 12%);
}
.location{
    color: hsl(295, 94%, 57%);
}
.link-bth {
    background-color: hsl(0, 0%, 20%);
    color: white;
    cursor: pointer;
    text-decoration: none;

}
.link-bth:hover{
    background-color: hsl(295, 94%, 57%);
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.profile{
    border-radius: 50%;
}
.attribution a {
    color: hsl(295, 94%, 57%);
}